In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
149,tt2402157,15000000,32556119,The November Man,Pierce Brosnan|Luke Bracey|Olga Kurylenko|Bill...,Roger Donaldson,A Spy is Never Out of the Game,An ex- CIA operative is brought back in on a v...,108,Crime|Action|Thriller,Irish Dreamtime|Relativity Media|SPD Films,8/27/2014,6.0,2014
1330,tt0371606,150000000,314432665,Chicken Little,Zach Braff|Garry Marshall|Don Knotts|Patrick S...,Mark Dindal,"When it comes to saving the world, it helps to...",When the sky really is falling and sanity has ...,81,Animation|Family|Comedy,Walt Disney Pictures|Walt Disney Feature Anima...,11/4/2005,5.6,2005
442,tt1261945,100000000,288347692,Sex and the City 2,Sarah Jessica Parker|Kristin Davis|Cynthia Nix...,Michael Patrick King,Carrie on.,"Carrie, Charlotte, and Miranda are all married...",146,Comedy|Drama|Romance,New Line Cinema|Village Roadshow Pictures|Home...,5/26/2010,5.5,2010
1852,tt0162650,46000000,107196498,Shaft,Samuel L. Jackson|Jeffrey Wright|Christian Bal...,John Singleton,"Still the man, any questions?",New York police detective John Shaft arrests W...,99,Action|Adventure|Crime|Thriller,Paramount Pictures|Scott Rudin Productions,6/15/2000,5.3,2000
1312,tt0330373,150000000,895921036,Harry Potter and the Goblet of Fire,Daniel Radcliffe|Rupert Grint|Emma Watson|Ralp...,Mike Newell,Dark And Difficult Times Lie Ahead.,"Harry starts his fourth year at Hogwarts, comp...",157,Adventure|Fantasy|Family,Patalex IV Productions Limited|Warner Bros.|He...,11/5/2005,7.3,2005

In [246]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [247]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [248]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [249]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [250]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).iloc[0].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [251]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [252]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [253]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [254]:
answers['4'] = '2. 110' # +
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [255]:
answers['5'] = '1. 107' # +
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [374]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']

In [257]:
answers['6'] = '5. Avatar (tt0499549)' # +
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [258]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # + но в платформе был некорректный ответ
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [259]:
data.sort_values(by=['profit']).head(1)[['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [260]:
answers['8'] = '1. 1478' # +
len(data[data.revenue > data.budget])

1478

In [261]:
data[data.revenue > data.budget].count().loc['original_title']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [262]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +
data_2008 = data[(data.release_year == 2008)]
data_2008[data_2008.profit == data_2008.profit.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [283]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +
data_2012_2014 = data.query('release_year >= 2012 & release_year <=2014')
data_2012_2014.sort_values(by='profit').head(1)[['imdb_id','original_title']]
# data_2012_2014.sort_values(by='profit').iloc[0].original_title

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [264]:
min_profit = data_2012_2014.profit.min()
data_2012_2014.query('profit == @min_profit').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [265]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama' # +
data['genres'].str.split('|', expand=True).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [266]:
genres_list = data['genres'].str.split('|').tolist()
genres_counter = Counter()
for genres in genres_list:
    for genre in genres:
        genres_counter[genre] += 1
print(genres_counter.most_common())

[('Drama', 782), ('Comedy', 683), ('Thriller', 596), ('Action', 582), ('Adventure', 415), ('Crime', 315), ('Romance', 308), ('Family', 260), ('Science Fiction', 248), ('Fantasy', 222), ('Horror', 176), ('Mystery', 168), ('Animation', 139), ('Music', 64), ('History', 62), ('War', 58), ('Western', 19), ('Documentary', 8), ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [267]:
answers['12'] = '1. Drama' # +
data_profit = data[data.profit > 0]
data_profit['genres'].str.split('|', expand=True).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [268]:
answers['13'] = '5. Peter Jackson' # +

data_director = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index()
data_director.columns = ['row','seq','director']
data_director['revenue_director'] = data_director.row.apply(lambda x: data.iloc[x]['revenue'])
grouped = data_director.groupby(['director'])['revenue_director'].sum().sort_values(ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [269]:
answers['14'] = '3. Robert Rodriguez' # +
data_action = data[data.genres.str.contains("Action")]
data_action['director'].str.split('|', expand=True).stack().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Allen Hughes          1
Jimmy Hayward         1
Mathieu Kassovitz     1
Troy Duffy            1
Chuck Russell         1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [287]:
answers['15'] = '3. Chris Hemsworth' # +
data_2012 = data[data.release_year == 2012]
data_cast = pd.DataFrame(data_2012.cast.str.split('|').tolist()).stack().reset_index()
data_cast.columns = ['row','seq','cast']
data_cast['revenue_cast'] = data_cast.row.apply(lambda x: data_2012.iloc[x]['revenue'])
data_cast['release_year'] = data_cast.row.apply(lambda x: data_2012.iloc[x]['release_year'])
grouped = data_cast.groupby(['cast'])['revenue_cast'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue_cast, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [271]:
# Бюджет фильма должен быть выше среднего бюджета всех фильмов.
answers['16'] = '3. Matt Damon' # +
data_high_budget = data[data.budget > data.budget.mean()]
data_high_budget.cast.str.split('|', expand=True).stack().value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Samuel L. Jackson     15
                      ..
John Shrapnel          1
Tammy Blanchard        1
Johnny Strong          1
Fionnula Flanagan      1
Freddie Prinze Jr.     1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [272]:
answers['17'] = '2. Action' # +
genres_counter = Counter()
for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    genres_counter += Counter(x)
display(genres_counter.most_common())

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [713]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +
data_paramount = data[data.production_companies.str.contains("Paramount Pictures")]
data_paramount[data_paramount.profit == data_paramount.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [298]:
answers['19'] = '5. 2015' # +
grouped = data.groupby(['release_year'])['revenue'].sum()
grouped.sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [313]:
pivot = data.pivot_table(index='release_year', values='revenue', aggfunc='sum')
pivot.sort_values(by="revenue", ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [448]:
answers['20'] = '1. 2014' # +
data_warnerbros = data[data['production_companies'].map(lambda x: True if 'Warner Bros' in x else False)]
pivot = data_warnerbros.pivot_table(index='release_year', values='profit', aggfunc='sum')
pivot.sort_values(by="profit", ascending=False)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [447]:
answers['21'] = '4. Сентябрь' # +
data['release_month'] = data.release_date.apply(lambda d: d[:d.find('/')])
grouped = data.groupby(["release_month"])["imdb_id"].count()
grouped.sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [446]:
answers['22'] = '2. 450' # +
data['release_date2'] = pd.to_datetime(data['release_date'])
summer_movies_data = data[data.release_date2.map(lambda d: d.month == 6 or d.month == 7 or d.month == 8)]
len(summer_movies_data)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [453]:
# режиссер, который снимает больше всего фильмов зимой, если таких несколько - выбрать того, кто снимает больше
answers['23'] = '5. Peter Jackson' # +
data['release_date2'] = pd.to_datetime(data['release_date'])
winter_movies_data = data[data.release_date2.map(lambda d: d.month == 12 or d.month == 1 or d.month == 2)]
winter_movies_data['director'].str.split('|', expand=True).stack().value_counts()

Peter Jackson                7
Clint Eastwood               6
Steven Soderbergh            6
Shawn Levy                   4
Adam Shankman                4
                            ..
Christian E. Christiansen    1
Ron Clements                 1
J.C. Chandor                 1
Sam Taylor-Johnson           1
Olivier Megaton              1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [555]:
answers['24'] = '5. Four By Two Productions' # +
data['length'] = data.original_title.map(lambda x: len(x))
df2 = pd.DataFrame(data['production_companies'].str.split('|', expand=True).stack().value_counts())
df2.columns = ['title_mean_length']
for i in df2.index:
    df2.title_mean_length[i] = data[data['production_companies'].map(lambda x: True if i in x else False)].length.mean()
df2.sort_values(by="title_mean_length", ascending=False)

                            title_mean_length
Four By Two Productions                    83
Jim Henson Company, The                    59
Dos Corazones                              47
Museum Canada Productions                  46
Polsky Films                               46
...                                       ...
Everest Entertainment                       3
Berlanti Productions                        3
Global Entertainment Group                  2
XM2 Productions                             2
Ixtlan Productions                          2

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [557]:
answers['25'] = '3. Midnight Picture Show' # +
data['length'] = data.overview.map(lambda x: len(x))
df2 = pd.DataFrame(data['production_companies'].str.split('|', expand=True).stack().value_counts())
df2.columns = ['overview_mean_length']
for i in df2.index:
    df2.overview_mean_length[i] = data[data['production_companies'].map(lambda x: True if i in x else False)].length.mean()
df2.sort_values(by="overview_mean_length", ascending=False)

                                       overview_mean_length
Midnight Picture Show                                  1000
Room 9 Entertainment                                    964
Brookwell-McNamara Entertainment                        936
Lions Gate Family Entertainment                         909
Crest Animation Productions                             909
...                                                     ...
London Boulevard                                         74
Projection Pictures                                      74
Phantom Four                                             72
Empire Pictures                                          62
Motion Picture Corporation of America                    59

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [584]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +
df_best_movies = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]
display(df_best_movies)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,release_date2,length
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,2015-06-09,638
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,2015-10-16,243
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,2014-11-05,222
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,2014-07-30,164
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,2014-11-14,287
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,2014-10-01,169
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,2014-02-26,402
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,2010-07-14,280
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,2008-07-16,396
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,2002-09-24,238
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,2003-12-01,254
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,2013-12-25,200
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,2013-10-18,379
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,2000-10-11,436

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [710]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

from itertools import combinations 

def make_pair(casts):
    cast_list = casts.split('|')
    couples = []
    for c in cast_list:
        couples.append(c)
    return list(combinations(couples, 2))

data['combination'] = data.cast.apply(make_pair)

pair_counter = Counter()
for index, row in data.iterrows():
    for x in row['combination']:
        pair_counter[x] += 1

print(pair_counter.most_common()[0])

(('Daniel Radcliffe', 'Rupert Grint'), 8)

ВАРИАНТ 2

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [714]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '18': '1. K-19: The Widowmaker (tt0267626)'}

In [717]:
# и убедиться что ни чего не пропустил)
len(answers)

27